@font-face {
    font-family: 'pw_centra_no2bold';
    src: url('fonts/pwcentrano2-bold-webfont.woff2') format('woff2'),
         url('fonts/pwcentrano2-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'pw_centra_no2bold_italic';
    src: url('fonts/pwcentrano2-bolditalic-webfont.woff2') format('woff2'),
         url('fonts/pwcentrano2-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'pw_centra_no2book';
    src: url('fonts/pwcentrano2-book-webfont.woff2') format('woff2'),
         url('fonts/pwcentrano2-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'pw_centra_no2italic';
    src: url('fonts/pwcentrano2-bookitalic-webfont.woff2') format('woff2'),
         url('fonts/pwcentrano2-bookitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pw_serifbold';
    src: url('fonts/pwserif-bold-webfont.woff2') format('woff2'),
         url('fonts/pwserif-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

*, *:after, *:before {
    margin: 0;
    padding: 0;
    border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}



html {
    font-family: 'pw_centra_no2book';
    background-color: #bde9c9;
    margin: 0 auto;
}

body {
    width: 100%;
    overflow-x: hidden;
}

nav {
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
}

.nav-menu {
    position: fixed;
    top: 5%;
    right: -1em;
    width: 5em;
    height: 4em;
    border-radius: 1em;
    background-color: #285c4d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 9;
  
}

#menu-icon {
    color: #fff;
    font-size: 2em;
    width: 100%;
    text-align: center;   
    margin-left: -.05em;
}

.no-overflow {
    overflow: hidden;
}

#menu-icon:hover {
    color: #bde9c9;
    cursor: pointer;
}


.site-nav {
    height: 100vh;
    width: 100vw;;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    font-size: 4em;
    background-color: rgba(40, 92, 77, 0.808);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    visibility: hidden;
    z-index: 5;
}

.nav-open  {
    visibility: visible;
    
}

nav a {
    text-decoration: none;
    color: #fff;
}

nav a:hover {
    color: #bde9c9;
}

nav h2 {
    padding: .25em;
}


h1, h2, h3, h4 {
    font-family: 'pw_centra_no2bold';
}

.welcome {
    font-family: 'pw_serifbold';
    font-size: .5em;
    color: #fff;
    text-align: center;
    filter: drop-shadow(5px 5px 4px #000);
    -webkit-animation: fade;
    -webkit-animation-duration: 7s;
    -webkit-animation-iteration-count: 1;
    }
    

}

.button {
  background-color: darkblue;
  padding: 1em;
  font-size: .5em;
  width: 100%;
}

.bg-img {
  width: 100%;
}

.buttons-container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 3;
  font-size: 5em;
  color: #fff;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}